.vscode
.eggs
.tox
*.code-workspace
venv
*,cover
coverage.xml
.coverage
.scannerwork
.pytest_cache
*.pyc
*.sublime-*
.idea/*
build
dist
example/tf_files/*
terraform_compliance.egg-info

.DS_Store
terraform-compliance.iml

**/.terraform
**/plan.out
example
