- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.5.0 # Use the ref you want to point at
  hooks:
      - id: trailing-whitespace
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
